<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedRestaurant.name | uppercase}} Meni</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="days">
    
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size = "2" [ngClass]="{'day': true, 'active-day': day == currentDay}" *ngFor="let day of days" color="primary"
      (click)="changeDay(day)">
        <ion-button><h2>{{daysName[day-1]}}</h2>   
    </ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-card class="ion-text-center ion-padding" [routerLink]="['/mobile/cart']" *ngFor="let menu of filteredRestaurantMenus"
  [queryParams]='{id: menu.name}' [ngStyle]="{'background-image': restaurant.image}" (click)="onSelect(order)">
    <ion-card-header>
     
      <ion-card-title class="ion-margin-top">{{menu.name}}</ion-card-title>
      <ion-card-subtitle>Opis</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>