
<ion-content>

  <!-- <ion-icon [ngClass]="{'active': userService.logiran }"name="wifi-outline"></ion-icon> -->

  <ion-grid>


    <ion-row>
      <ion-col>
       
      </ion-col>
      <ion-col>
        <div class="login">
         
            <ion-img class="logo" src="assets/Logo/Bite-logo.png"></ion-img>



          <ion-item class="login">
            <ion-label position="floating" >Email</ion-label>
            <ion-input [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-button class="button"  (click)="login()">Login</ion-button>
          <br>

          <ion-list>
            <ion-radio-group allow-empty-selection >
              
             
          
              <ion-item>
                <ion-label>Register</ion-label>
                <ion-radio slot="end"  (click)="changeRoute($event)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          

        </div>
      </ion-col>
      <ion-col>
        <div>
         
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>

 



</ion-content>