<ion-header>
  <ion-toolbar>
  <ion-searchbar (ionInput)='search($event)'></ion-searchbar>
    
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card class="ion-text-center ion-padding" [routerLink]="['/mobile/restaurant']" *ngFor='let restaurant of filteredRestaurants'
  [queryParams]='{id: restaurant.companyId}' [ngStyle]="{'background-image': restaurant.image, 'background-size': 'cover'}" (click)="onSelect(restaurant)">
    <ion-card-header>
     
      <ion-card-title class="ion-margin-top">{{restaurant.name}}</ion-card-title>
      <ion-card-subtitle>Opis</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
