<ion-header>



</ion-header>

<ion-title class="title">Add New Meal</ion-title>



<ion-content>

    <ion-grid>


        <ion-row>
            <ion-col>

            </ion-col>

            <ion-col>
                <div class="new-meal">




                    <ion-item class="login">
                        <ion-label position="floating">Meal Name</ion-label>
                        <ion-input [(ngModel)]="mealName"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Meal Description</ion-label>
                        <ion-input [(ngModel)]="mealDescription"></ion-input>
                    </ion-item>

                    <ion-button class="new-meal-button" (click)="newMeal()">Save</ion-button>
                    <ion-button class="cancel-meal-button" (click)="cancelMeal()">Cancel</ion-button>

                    <br>

                   



                </div>
            </ion-col>
            <ion-col>
                <input hidden type="file" accept="image/*" capture="camera"  id="fileInput" />
              <label for="fileInput" icon-only ion-button>
                <div class="image-upload">ADD PHOTO</div>
              </label>
            </ion-col>
        </ion-row>

    </ion-grid>




</ion-content>