<ion-header>
  
</ion-header>

<ion-content>
  <ion-grid class="week-list">
    <ion-row>
      <ion-button color="primary">Primary</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary">Primary</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary">Primary</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary">Primary</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary">Primary</ion-button>
    </ion-row>
  </ion-grid>
  

  <ion-grid>
    <ion-row>
      <ion-col>
        <label for="title">ORDERS OVERVIEW</label>
      </ion-col>
      
      <ion-col>
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
       
      </ion-col>
      <ion-col>

        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="./assets/Meal/meat.png"></ion-img>
            </ion-thumbnail>
            
            <ion-label>Naziv jela</ion-label>
            
            <ion-label>opis</ion-label>
            
            <ion-button color="light" disabled>Light</ion-button>

          </ion-item>
          
          <ion-item>
            <ion-label>Total orders:</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
      <ion-col>
        
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="./assets/Meal/meat.png"></ion-img>
            </ion-thumbnail>
            
            <ion-label>Naziv jela</ion-label>
            
            <ion-label>opis</ion-label>
            
            <ion-button color="light" disabled>Light</ion-button>

          </ion-item>
          
          <ion-item>
            <ion-label>Total orders:</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
      <ion-col>
       
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="./assets/Meal/meat.png"></ion-img>
            </ion-thumbnail>
            
            <ion-label>Naziv jela</ion-label>
            
            <ion-label>opis</ion-label>
            
            <ion-button color="light" disabled>Light</ion-button>

          </ion-item>
          
          <ion-item>
            <ion-label>Total orders:</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
