<ion-header>

</ion-header>

<ion-content>
  <div class="verticalLine">
    <ion-img class="logo" src="assets/Logo/Bite-white-logo.png"></ion-img>
<div class="days">
    <div [ngClass]="{'day': true, 'active-day': day == currentDay}" *ngFor="let day of days" color="primary" (click)="changeDay(day)">
      <span><h2>{{daysName[day-1]}}</h2></span>
    </div>
    </div>
  </div>
   
 
  


  <div class="content">
    <ion-grid class="searchBar">
      <ion-row>
        <ion-col>
          <label for="title">ORDERS OVERVIEW</label>
        </ion-col>

        <ion-col >
          <ion-searchbar  showCancelButton="focus"></ion-searchbar>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        
        <ion-col sizeLg="3" sizeMd="6" sizeSm="12" *ngFor="let order of fetchedOrders">
          <ion-card>
            <img src="assets/Logo/Bite-logo.png" />
            <ion-card-header>
              <ion-card-subtitle>{{order.jelo}}</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>