<ion-header>

</ion-header>

<ion-content>
  <div class="verticalLine">
    <ion-img class="logo" src="assets/Logo/Bite-white-logo.png"></ion-img>

    <div class="day"><ion-button class="dayButton" expand="full" >Mon</ion-button></div>
    <div class="day"><ion-button class="dayButton" expand="full" >Tue</ion-button></div>
    <div class="day"><ion-button class="dayButton" expand="full" >Wen</ion-button></div>
    <div class="day"><ion-button class="dayButton" expand="full" >Thu</ion-button></div>
    <div class="day"><ion-button class="dayButton" expand="full"  >Fri</ion-button></div>
   
  </div>


  <div class="content">
    <ion-grid class="searchBar">
      <ion-row>
        <ion-col>
          <label for="title">ORDERS OVERVIEW</label>
        </ion-col>

        <ion-col >
          <ion-searchbar  showCancelButton="focus"></ion-searchbar>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col sizeLg="3" sizeMd="6" sizeSm="12" *ngFor="let item of polje">
          <ion-card>
            <img [src]="item.img" />
            <ion-card-header>
              <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>